mixin modal-form-lenders()
  .modal-form
    h2.modal-form__title!="Lenders"
    p.modal-form__description!="Partner to&nbsp;support trusted sellers"
    ul.modal-form__list
      li.modal-form__item
        +icon("icon-check-mark", 20, 20)
        span!="No/low fees <br> per funded loan"
      li.modal-form__item
        +icon("icon-check-mark", 20, 20)
        span!="Steady revenue <br> stream"
      li.modal-form__item
        +icon("icon-check-mark", 20, 20)
        span!="Simple <br> payments"
    .modal-form__form(data-validate)
      form(action="#")
        .modal-form__inputs
          .modal-form__input
            +custom-input({inputLabel: "Name", inputType: "text", inputName: "lenders-user-name", inputId: "lenders-user-name", inputPlaceholder: "First name", inputError: "please check again"})(data-validate-type="text" data-limitations="letters")
          .modal-form__input
            +custom-input({inputLabel: "E-mail", inputType: "email", inputName: "lenders-user-email", inputId: "lenders-user-email", inputPlaceholder: "name@domain.com", inputError: "please check again"})(data-validate-type="email")
          .modal-form__input
            +custom-input({inputLabel: "Phone", inputType: "tel", inputName: "lenders-user-tel", inputId: "lenders-user-tel", inputPlaceholder: "1-877-378-4100", inputError: "please check again", inputMinLength: 7, inputMaxLength: 20})(data-validate-type="simple-phone")
          .modal-form__input
            +custom-input({inputLabel: "Company", inputType: "text", inputName: "lenders-user-company", inputId: "lenders-user-company", inputPlaceholder: "Company name", inputError: "please check again"})(data-validate-type="text")
          .modal-form__input
            +custom-input({inputLabel: "City", inputType: "text", inputName: "lenders-user-city", inputId: "lenders-user-city", inputPlaceholder: "Enter your city", inputError: "please check again"})(data-validate-type="text")
          .modal-form__input
            +custom-input({inputLabel: "Country", inputType: "text", inputName: "lenders-user-country", inputId: "lenders-user-country", inputPlaceholder: "Enter your country/region", inputError: "please check again"})(data-validate-type="text")
        button.btn.btn--sky.modal-form__button(type="submit" aria-label="Submit form")
          +icon("icon-btn-arrow-right", 16, 14)
          span!="Make inquiry"
